    @font-face{
        font-family:"Pricedown W01 Black";
        src:url("Fonts/1414673/adbc1720-f33c-42d5-ac82-31e009bf5d79.eot?#iefix");
        src:url("Fonts/1414673/adbc1720-f33c-42d5-ac82-31e009bf5d79.eot?#iefix") format("eot"),url("Fonts/1414673/94f16687-dc4e-4c2d-a1ab-421be78f549e.woff2") format("woff2"),url("Fonts/1414673/0421cf34-d025-4df7-9df4-45ac6eba1f9a.woff") format("woff"),url("Fonts/1414673/19d660c1-5f5e-480e-b3ac-601cefa19d6d.ttf") format("truetype");
    }
